
@import url('fonts');




*{
     padding: 0;
     margin: 0;
}

nav{
   display: flex;
justify-content: space-around;
flex-wrap: wrap;
.sitelogo{
      // img{
      //    width: 60%;
      //    height: auto;
      // }
      font-family: 'Pirata One', cursive;
      font-size: 200%;
text-align: center;
color: rgb(0, 0, 0);
padding: 2rem;
 text-decoration: none;
span{
   color: blueviolet;
}



}
ul{
   display: flex;
   flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
   li{
  padding: 1rem;
  background: rgb(4, 2, 105);
   
      margin: .3rem;
      list-style: none;
      border-radius: .25rem;
      &:hover{
        
         background: rgb(0, 73, 5);
         border-bottom:3px solid rgb(255, 252, 47);
         border-width: 50%;
         a{
            color: white;
         }
      }
      a{
        text-decoration: none;
         color: rgb(255, 255, 255);
         font-size: 110%;
      }
     
   }
}

}     

// end of navigation area   


